.center {
  display: flex;
  justify-content: center;
}

.alignCenter {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.end {
  display: flex;
  justify-content: end;
}

.gap {
  display: flex;
  gap: 0.5rem;
}

.space {
  display: flex;
  justify-content: space-between;
}

.centralizedItems {
  display: flex;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grayButton {
  background-color: #A9A9A9;
  border-color: #A9A9A9;
  color: white;
}
.grayButton:hover:not([disabled]) {
  background-color: #A9A9A9 !important;
  border-color: lightgray !important;
  color: whitesmoke !important;
}

.orangeButton {
  background-color: #fa8c16;
  border-color: #fa8c16;
  color: white;
}
.orangeButton:hover:not([disabled]) {
  background-color: #fa8c16 !important;
  border-color: #fa8c16 !important;
  color: white !important;
}

.floatButton {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
}