.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin: 1rem 0;
}

.content > button {
  width: 70px;
}

.center {
  display: flex;
  justify-content: center;
}

.space {
  display: flex;
  justify-content: space-between;
}

.centralizedItems {
  display: flex;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 55%;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grayButton {
  background-color: #A9A9A9;
  border-color: #A9A9A9;
  color: white;
}
.grayButton:hover:not([disabled]) {
  background-color: #A9A9A9 !important;
  border-color: lightgray !important;
  color: whitesmoke !important;
}